<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>中国平安_医院网络管理系统</title>
    <link rel="stylesheet" href="css/pingan.css?v=0.1">
    <link rel="stylesheet" href="css/login.css">
</head>
<body ng-app="loginApp" ng-controller="LoginController" onload="readyComplete()">
<div id="Login">
    <h1></h1>
    <div class="rw">
        <div class="main">
            <form autocomplete="off" name="loginForm" novalidate method="post" class="Frm">
                <h3>欢迎使用医院网络管理系统</h3>
                <dl>
                    <dt>
                        <b></b>
                        <input auto-fill-sync type="text" name="j_username" required ng-change="clean()" ng-model="user.j_username">
                        <i class="alt">请输入用户名</i>
                    </dt>
                    <dd ng-show="loginForm.submitted">
                        <span ng-show="loginForm.j_username.$error.required">账号不能为空</span>
                        <span ng-show="validUserNameMsg" ng-bind="validUserNameMsg"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <b class="icon_pwd"></b>
                        <input auto-fill-sync type="password" name="j_password" required ng-change="clean()" ng-model="user.j_password">
                        <i class="alt">请输入密码</i>
                    </dt>
                    <dd ng-show="loginForm.submitted">
                        <span ng-show="loginForm.j_password.$error.required">密码不能为空</span>
                        <span ng-show="loginForm.j_password.$valid && isValidCode" ng-bind="msg"></span>
                    </dd>
                </dl>
                <dl class="verify">
                    <dt>
                        <input type="text" name="verifyCode" ng-model="verifyCode" maxlength="4">
						<span>
							<img src="img/null.png" id="yanZhengMa" alt="验证码">
							换一张
						</span>
                        <i class="alt">请输入验证码</i>
                    </dt>
                    <dd ng-show="loginForm.submitted">
                        <span ng-show="!isValidCode" ng-bind="validCodeMsg"></span>
                    </dd>
                </dl>
                <div class="Cb">
                    <button type="submit" class="Large" ng-click="login()">提交登录</button>
                </div>
            </form>
        </div>
        <div class="Foot">&copy; 2014 中国平安保险（集团）股份有限公司 版权所有</div>
    </div>
</div>
<script type="text/javascript" src="js/common/hcpms.js"></script>
<script type="text/javascript" src="js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular/angular.js"></script>
<script type="text/javascript">
    function init(){
        var loginApp = angular.module('loginApp',[]).directive('autoFillSync',['$timeout', function($timeout){
            return {
                restrict:"A",
                require:'?ngModel',
                link:function(scope,elem,attrs,ngModel){
                    var origVal = elem.val();
                    $timeout(function(){
                        var newVal = elem.val();
                        if(ngModel.$pristine){
                            ngModel.$setViewValue(newVal);
                        }
                    },500);
                }
            }
        }]);
        initController(loginApp);
        initService(loginApp);
    };
    function initController(loginApp){
        loginApp.controller('LoginController',['$scope','LoginService',function($scope,loginService){
            $scope.validCodeMsg = "";
            $scope.msg = "";
            $scope.submitted = false;
            $scope.isValidCode = false;
            $scope.cleanValid = function(){
                $scope.validCodeMsg = "";
                $scope.validUserNameMsg = "";
            };
            $scope.clean = function(){
                $scope.msg = "";
                $scope.validUserNameMsg = "";
            };
            $scope.validCode = function(){
                var params = {name:$scope.user.j_username,verifyCode:$scope.verifyCode};
                loginService.validCode(params,function(data,state){
                    if(data.state == "0"){
                        $scope.isValidCode = true;
                        $scope.validCodeMsg = "";
                        if($scope.user && $scope.isValidCode){
                            $scope.user.j_username = hcpms.utils.trim($scope.user.j_username);
                            loginService.login($scope.user,function(data,state){
                                window.location.href = "index.htm";
                            },function(data){
                                $scope.msg = "账号或密码错误";
                            });
                        }
                    }else if(data.state == "1"){
                        $scope.isValidCode = false;
                        $scope.validCodeMsg = "校验码错误"
                    }else if(data.state == "2"){
                        //$scope.isValidCode = false;
                        $scope.validUserNameMsg = "不存在此账号"
                    }
                },function(data){
                    $scope.isValidCode = false;
                    $scope.validCodeMsg = "校验码错误"
                });
            };
            $scope.user = {};
            $scope.login = function(){
                $scope.loginForm.submitted = true;
                if($scope.loginForm.$valid){
                    $scope.validCode();
                }
            };
        }]);
    };
    function initService(loginApp){
        loginApp.service('LoginService',['$http',function($http){
            this.login = function(params,callback,erroback){
                $http({
                    url:'j_security_check',
                    method:'POST',
                    data:params,
                    transformRequest:function(obj){
                        var str = [];
                        for(var p in obj){
                            str.push(encodeURIComponent(p) + '=' + encodeURIComponent(obj[p]));
                        }
                        return str.join('&');
                    },
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(callback).error(erroback);
            },
            this.validCode = function(params,callback,erroback){
                $http({
                    url:'login/verifyCode',
                    method:'POST',
                    data:params,
                    transformRequest:function(obj){
                        var str = [];
                        for(var p in obj){
                            str.push(encodeURIComponent(p) + '=' + encodeURIComponent(obj[p]));
                        }
                        return str.join('&');
                    },
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(callback).error(erroback);
            }
        }]);
    };
    function readyComplete(){
        $("#Login input").each(function(_,i){
            if($(i).val())$(i).siblings(".alt").hide();
        });
    }
    init();
    $(document).ready(function(){
        $("#Login input").focus(function(){
            $(this).siblings(".alt").hide();
        });
        $("#Login input").blur(function(){
            if(!$(this).val())$(this).siblings(".alt").show();
        });

        $("#Login .alt").click(function(){
            $(this).siblings("input").focus();
        });

        $("#Login dl span").click(function(){
            $(this).children("img").attr("src","login/code?"+new Date());
            $("[name=j_yanzhengma]").val("");
        });
        
        $("#Login dl span").click();
    });
</script>
</body>
</html>