<div class="banner">
	<div class="weltext">
    	<span class="hello">{{userName}}，您好！</span><br>
        <span class="sys">欢迎您使用医院网络管理系统</span><br>
        今天是{{loginTime}}<br>
        <!--这是您第12次登录本系统，上次的登录时间是：<br>
        2014年5月26日 星期三 13时40分<br>-->
    </div>
</div>
    <div class="welcontent">
    	<p class="title">用户信息：</p>
    	<p>用户名: <span class="txt">{{userName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;统筹区域：<span class="txt">厦门市</span>&nbsp;&nbsp;&nbsp;&nbsp;角色编码：<span class="txt">R_MHIS_HCPMS_ADMIN</span>&nbsp;&nbsp;&nbsp;&nbsp;角色名称：<span class="txt">运营主管</span><p>
    </div>
</div>