<form autocomplete="off" class="Frm">
    <dl>
        <dt>
            <b>报告周期:</b>
            <select>
                <option>月度</option>
                <option>季度</option>
                <option>年度</option>
            </select>
        </dt>
    </dl>
    <dl>
        <dt>
            <b>报告时间:</b>
            <input type="text">
        </dt>
    </dl>
</form>
<dl class="Date">
    <dt>
        <a href="" class="Btn Confirm">生成报告</a>
        <a href="" class="Btn close">取消</a>
    </dt>
</dl>